.download {
  margin-bottom: 120px;
}
.download__title {
  max-width: 507px;
  font-size: 48px;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 41px;
}
.download__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 30px;
}
.download__desc {
  font-size: 24px;
  color: #7c7c7c;
  max-width: 442px;
  margin-bottom: 65px;
}
.download__btn-group {
  display: flex;
  column-gap: 20px;
}
